@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/media' as *;
@use '@styles/animations' as *;

.profilePage {

    &__inner {

    }

    &__form {
        padding: 20px !important;
        display: flex;
        flex-direction: column;
        gap: $block-gap-small;
        transition: width $transition-duration ease;
    }

    &__saveButton {
        margin-right: auto;
    }
}