@use '@styles/variables' as *;

$animation-glowing: glowing 5s infinite alternate ease-in-out;

@keyframes glowing {
    0%, 100% {
        box-shadow: 0 0 5px rgba(40, 167, 69, 0.7);
    }
    50% {
        box-shadow: 0 0 8px rgba(40, 167, 69, 0.9),
        0 0 10px rgba(40, 167, 69, 0.5);
    }
}
