@use 'media' as *;
@use 'mixins' as *;
@use 'variables' as *;

.container {
    width: 100%;
    max-width: $container-width;
    margin-inline: auto;
    padding-inline: $container-padding-x;
}

.page__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    gap: $block-gap;
}

.block {
    border-radius: $border-radius-large;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    padding: $block-padding-small;
}

.button {
    color: $color-text;
    border-radius: $border-radius;
    border: $border;
    padding: 5px 20px;
    background-color: $color-background;
    display: flex;
    align-items: center;
    gap: 5px;

    &_accent {
        background-color: $color-accent;
        color: $color-background;
    }

    @include hover {
        text-decoration: underline;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10000;
}

.visually-hidden {
    @include hide();
}

.text-accent {
    color: $color-background;
    background-color: $color-accent;
}

.hidden-mobile {
    @include mobile {
        @include hide();

    }
}

.visible-mobile {
    @include mobile-above {
        display: none !important;
    }
}

.visible-small-mobile {
    @include small-mobile-above {
        display: none !important;
    }
}

.hidden-small-mobile {
    @include small-mobile {
        display: none !important;
    }
}

.svg {
    width: $svg-size;
}

.svg-small {
    width: $svg-size-small;
}

.svg-large {
    width: $svg-size-large;
}

.svg-white {
    filter: $svg-color-white;
}

.svg-accent {
    filter: $svg-color-accent;
}

.avatar {
    @include rounded(45);
}