@font-face {
    font-family: 'Montserrat Regular';
    src: url('../../public/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../../public/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../../public/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../../public/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('../../public/fonts/Montserrat-Light.woff2') format('woff2'),
    url('../../public/fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}