@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/media' as *;
@use '@styles/animations' as *;

.eventsPage {

    &__inner {
        @include flex-center();
    }

    &__addEventButton {
        @include rounded(50);
        @include flex-center();

        background-color: $color-light;
        padding: 0 !important;
        z-index: 50;
        border: none;

        &_mobile {
            @include rounded(70);

            position: fixed;
            bottom: 50px;
            left: 50px;
            background-color: $color-background;
            box-shadow: $shadow-big !important;
        }

        @include hover {
            transform: scale(110%);
            animation: $animation-glowing;
        }
    }

    &__addEventIcon {
        width: auto !important;
    }
}