@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/media' as *;

.eventsPage {

    &__inner {
        @include flex-center();
    }

    &__eventList {
        display: flex;
        flex-wrap: wrap;
        gap: $block-gap-small;
        background-color: $color-light;
        padding: 20px;
    }

    &__eventCard {
        flex: 0 1 calc(33% - $block-gap-small);

        @include tablet {
            flex: 0 1 calc(50% - $block-gap-small);
        }

        @include mobile {
            flex: 0 1 100%;
        }
    }

    &__addEventButton {
        @include rounded(50);
        @include flex-center();

        background-color: $color-light;
        padding: 0 !important;
        z-index: 50;
        border: none;

        &_mobile {
            @include rounded(70);

            position: fixed;
            bottom: 50px;
            left: 50px;
            background-color: $color-background;
            box-shadow: $shadow-big !important;
        }

        @include hover {
            transform: scale(110%);
            box-shadow: $shadow-accent !important;
        }
    }

    &__addEventIcon {
        width: auto !important;
    }
}