@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/media' as *;

.homePage {


    &__inner {
    }

    &__hero {
        margin: 0 (-$block-padding);

        @include mobile {
            margin: 0 -10px;
        }
    }

    &__startButton {
        @include flex-center();

        margin: $block-gap auto 0;
        width: 30%;

        @include mobile {
            width: 100%;
        }
    }
}