@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/media' as *;

.featureBlock {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 0 1 calc(33% - $block-gap-small);

    @include tablet {
        flex: 0 1 calc(66% - $block-gap-small);
    }

    @include mobile {
        flex: 0 1 100%;
    }
}