@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/media' as *;

.hero {
    height: 400px;
    position: relative;
    overflow: hidden;

    &__swiper {
        width: 100%;
        height: 100%;
    }

    &__swiperSlide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__inner {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__text {
        background-color: $color-background;
        color: $color-text;
        opacity: 95%;
        padding: 20px;
        border-radius: $border-radius-large;
        max-width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__title {
        margin-bottom: 10px;
        color: $color-accent;

        @include mobile {
            @include fluid-text(48, 28);
        }
    }

    &__description {
        color: $color-text-secondary;

        @include mobile {
            @include fluid-text(40, 14);
        }
    }
}